.hero-section {
  height: 100vh;
  margin: 0 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero-text {
  font-size: 5.61rem;
  color: var(--main);
  margin: 4rem 0 0 0;
  text-align: left;
}

.hero-subtext {
  width: 80%;
  margin-bottom: 2rem;
}
