:root {
  --background-main: #080716;
  --background-secondary: #171641;
  --main: #ededfb;
  --main-secondary: #cac8f3;
  /* derived from #4E49D8 */
}

* {
  color: var(--main);
  margin: 0;
  padding: 0;
}
