/* font import */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background-main: #ffffff;
  --background-secondary: #171641;
  --main: #100f2b;
  --main-secondary: #cac8f3;
  /* derived from #4E49D8 */
}

* {
  color: var(--main);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: var(--background-main);
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 2.369rem;
  font-weight: 400;
}
